body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 26px;
  }

  .ui.fixed.menu+.ui.grid {
    padding-top: 0rem;
}
  
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }  
  .ui.fixed.menu {
    background-color: rgb(0, 102, 51);
  }
  
  .ui.main.container,

  .main.segment {
    margin-top: 2em;
  }
  .body {
    max-width: 100%;
  }
  
  .ui.center.aligned.segment.attendance-preview {
    background-color: #f5f5f5;
  }
  
  .masthead .ui.menu .ui.button,
  .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
  }
  
  .ui.menu .item > img:not(.ui) {
    margin-right: 1.5em !important;
  }
  
  .ui.menu:not(.vertical) .item > .button {
    margin-left: 0.5em;
  }

  .ui.form {
    width: 90%;
    position: relative;
    right: -4px;
    top: -2px;
}
.button {
  width: 32%;
}
