body {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.title{
    font-size:30px;
    border-bottom: 1px solid green;
    margin-bottom:10px;
}

.user-img{
    height:250px;
    margin:20px;
    padding:20px;
    border: 1px solid gray;
}

.btn-edit-user{
    margin-top:20px;
}
.btn-edit-img {
   margin-top: 20px;
}
.popup {
    position: fixed;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
    bottom: 0;
    top:13%;
    right: 0;
    height: 100vh;
    overflow-y: hidden;
}

.popup\_inner {
    background-color: #fefefe;
    margin: 3% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    padding: 20px;
    position: fixed;
}

/* Modal Content/Box */
.modal-contents {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    padding: 10px;
}

.bg {
    background-image: url("https://i.imgur.com/kFJn8uP.jpg");
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100vh;
    background-size: cover;
}

.form {
    width: 50%;
    position: absolute;
    right: -100px;
    top: 60px;
}

.form-title {
    font-size: 32px;
    padding: 20% 0 0 1%;
}

.form-register {
    font-size: 32px;
    padding: 2% 0 0 2%;
}

.form-subtitle {
    font-size: 15px;
    
    color: #757171;
}

.form-content {
    padding: 5px 1px 5px 8px;
    width: 56%;
}

input[type="text"], input[type="email"],
[type="password"] {
    border: 2px solid gray;
    border-radius: 4px;
    width: 92%;
    padding: 12px;
}

    input[type="text"]:focus,
    [type="password"]:focus, [type="email"]:focus {
        border: 3px solid #cfb315;
    }

.dropbtn {
    border: 2px solid gray;
    border-radius: 4px;
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    font-size: 20px;
    width: 92%;
}

.form-model {
    padding: 6px;
    width: 80%;
}

.button {
    background-color: #2d3e36;
    border: none;
    color: #e3c917;
    padding: 4px 10px;
    margin: 4px 10px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
}

.button-cancel {
    background-color: red;
    color: #2d3e36;
    width: 50%;
}

.button-register {
    background-color: white;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    margin: 10px 0 0 12px;
}

.form-register-content {
    font-size: 18px;
    padding: 12px 0 0 12px;
    color: #757171;
}
.select{
    width: 92%;
}

/* The Close Button (x) */

@media only screen and (max-width: 600px) {
    .bg {
        background-image: url("https://i.imgur.com/OioRHa7.jpg");
        width: 100%;
    }

    .form {
        width: 100%;
        top: 20px;
    }

    .form-title {
        color: white;
        font-size: 42px;
        padding: 20% 0 0 2%;
    }

    .form-subtitle {
        color: white;
        font-size: 15px;
        padding-top: 12px;
    }

    .form-register-click {
        /*Click here to register*/
        background-color: white;
        font-size: 22px;
    }

    .btn {
        background-color: #2d3e36;
        color: #e3c917;
        border: 1px solid #e3c917;
    }

    .btn-register {
        text-decoration-color: #fefefe;
        border: none;
        font-family: "Josefin Sans", sans-serif;
        cursor: pointer;
        font-size: 20px;
        padding: 0px 0px 0px 0px;
        margin: 10px 0 0 12px;
    }

    .popup {
        width: 100%; /* Full width */
        padding-top: 0px;
    }

    .btn-cancel {
        background-color: red;
        color: #2d3e36;
        width: 50%;
    }

    .form-model {
        padding: 8px;
        width: 80%;
    }
}
html, body {
    overflow: hidden auto;
}

#App {
    font-family: sans-serif;
    height: 100vh;
}

#page-wrap {
    text-align: center;
    overflow: auto;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    color: #d1d1d1;
    transition: color 0.2s;
}

    .bm-item:hover {
        color: white;
    }

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 16px;
}

.bm-burger-bars {
    background: #373a47;
    
}

.bm-cross-button {
    height: 10px;
    width: 24px;
    
}

.bm-cross {
    background: #bdc3c7;
    
    
}

.bm-menu {
    background: #006400;
    padding: 3em 1.5em 4em;
    font-size: 1.50em;
    font-family: sans-serif;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
    padding-bottom: 3em;
    
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    
}
